<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mina's To-Do List</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('nav.html') %>

    <div class="container mt-4">
      <h4 class="mb-5 mt-4"><strong>할일 작성</strong></h4>

      <div class="container mt-3">
        <!-- 전송 누를 시 GET 요청이냐 POST 요청이냐를 아래에 method 에 넣어줌 -->
        <form action="/add" method="POST">
          <div class="mb-3">
            <label for="title" class="form-label">할 일</label>
            <input
              type="text"
              class="form-control"
              name="title"
              placeholder="할 일을 적어주세요."
            />
          </div>
          <div class="mb-3">
            <label for="date" class="form-label">날짜</label>
            <input
              type="date"
              class="form-control"
              name="date"
              placeholder="날짜를 입력해 주세요."
            />
          </div>

          <button type="submit" class="btn btn-outline-primary btn-sm detail">
            저장
          </button>
        </form>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
